<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">

        <title>Hi!</title>
    </head>
    <body>
        <h2>Guest List</h2>
        <form action="/submit" method="post">
            <label for="name">Name:
            <input type="text" id="guest-name" name="guest-name">
            <input type="submit" value="Sign">
        </form>

        <div style="white-space-collapse: preserve;">
            <h3>Guests:</h3>
            <ul>
                {% for guest in guests %}
                    <li>{{ guest.name or 'No name found' }}</li>
                {% endfor %}
            </ul>
    </body>
</html>